@page "/"

<h1>Hello, world!</h1>

<div style="background-color: #eee; height: 500px; overflow-y: auto">
    <VirtualList Items="@Items" ItemHeight="100">
        <div @key="@context" style="height: 100px; background-color: rgb(@((context % 2) * 255), @((1-(context % 2)) * 255), 255);">Item @context</div>
    </VirtualList>
    <VirtualList Items="@Items" ItemHeight="100">
        <div @key="@context" style="height: 100px; background-color: rgb(0, @((context % 2) * 255), @((1-(context % 2)) * 255));">Item @context</div>
    </VirtualList>
</div>


@code {
    Random rng = new Random();
    ICollection<int> Items = Enumerable.Range(1, 1000).ToList();
}
